/* *{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(62, 7, 66);
    color: white;
}
header{
    margin-top: 15px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
input {
 border-radius: 16px;
 border: none;
/* color: black; */