* {
    margin: 0;
    padding: 0;
}

.card-Body {
    margin-top: 5rem;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
}

.cardN {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 45vh;
    box-shadow: 2px 2px 10px rgb(123, 38, 38); 
    margin: 1rem;
    transition: all 0.3s ease-in-out;
}

.cardImg {
    box-shadow: 2px 2px 10px rgb(255, 0, 0); 
    display: grid;
    align-items: center;
    justify-content: center;
}

.cardPara {
    padding: 4px 4px;
}

/* Adjust styles for the button */
button {
    background-color: rgb(195, 83, 108);
    color: white;
    width: 10rem;
    position: relative;
    left: 20%;
    border: none;
    text-align: center;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .cardN {
        width: 60vh;
    }
    button {
        left: 10%;
        width: 8rem;
    }
}

@media (max-width: 576px) {
    .cardN {
        width: 80vw; /* Full width on small screens */
    }

    button {
        left: 0; /* Center the button */
        width: 100%; /* Full width button */
    }
}
